@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
*{
    --color-one : #001948;
    --color-two: #DFA408;
    font-family: "quicksand";

}

#navbar{
    background-color: var(--color-one);
}
#navbar button{
    background-color: var(--color-two);
}
#current-page{
    color: var(--color-two);
}
#navbar-links{
    font-size: 1.2rem;
}
#firstbtn{
    background-color: white;
    color: var(--color-one);
}
#secondbtn{
    color: white;
    background-color: var(--color-two);
}
#thirdbtn{
    color: white;
    background-color: var(--color-one);
}
#aboutUs{
    color: var(--color-one);
}
#aboutUs i{
    color: var(--color-two);
}
.longAhhDescription{
    font-size: 1.2rem;
}
#outcomes{
    color: var(--color-one);
}
#outcomes-text{
    width: 40%;
}
.outcomes-description{
    font-size: 1.1rem;
}
.staff-name{
    color: var(--color-one);
}